@model IEnumerable<ShortenerUrl.Models.Url>

@{
    ViewBag.Title = "Добавление пользователя";
}
<label>@ViewBag.Error</label>

<form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data">
    <p>
        <label>Имя</label>
        <input name="Name" class="form-control" />
    </p>
    <p>
        <label>Аватар</label>
        <input name="File" type="file" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>
<h3>Все пользователи</h3>
@foreach (var p in Model)
{
    <div>
        <a href="https://localhost:44369/@p.ShortUrl">https://localhost:44369/@p.ShortUrl</a>
        <p><img style='width:80px; height:60px;' src="@Url.Content(p.FullUrl)" /></p>
    </div>
}